.user-list {
  /* display: flex;
  flex-wrap: wrap; */
}

.user {
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.075);
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.14);
  margin: 4em 0;
  display: flex;
  flex-direction: column;
}

.user .wrapper {
  display: flex;
  align-items: center;
}

.user img {
  height: 100%;
  border-radius: 100%;
}

.userDetails {
  margin-left: 2em;
}

.userDetails p {
  padding: 0.5em;
}

.userDetails p:first-of-type {
  font-size: 1.25em;
  font-weight: 500;
  padding-left: 0.36em;
}

.user a {
  text-align: right;
  font-weight: 600;
  color: rgb(39, 90, 201);
  padding: 2em 0 0;
}
.user a:hover {
  background-color: rgba(0, 0, 0, 0);
  filter: grayscale();
}
